문제

2019년 1월 6일에 임대할 수 있고, 후기가 달린 공간의 아이디와 이름을 조회하는 SQL문을 작성해주세요. 이때 결과는 공간의 아이디를 오름차순으로 정렬해주세요.

In [ ]:
SELECT PL.ID, PL.NAME, SC.SCHEDULED_AT
FROM PLACES AS PL
INNER JOIN SCHEDULES AS SC
ON PL.ID = SC.PLACE_ID
INNER JOIN PLACE_REVIEWS AS PR
ON SC.PLACE_ID = PR.PLACE_ID
WHERE DATE_FORMAT(SCHEDULED_AT, '%Y-%m-%d') = '2019-01-06'

In [ ]:
SELECT DISTINCT SCHEDULES.PLACE_ID, SCHEDULES.SCHEDULED_AT   FROM PLACE_REVIEWS
INNER JOIN SCHEDULES
ON SCHEDULES.PLACE_ID = PLACE_REVIEWS.PLACE_ID
WHERE PLACE_REVIEWS.PLACE_ID = '22002927'
ORDER BY SCHEDULES.SCHEDULED_AT ASC;

In [ ]:
SELECT PL.ID, PL.NAME, SC.SCHEDULED_AT
FROM PLACES AS PL
INNER JOIN SCHEDULES AS SC
ON PL.ID = SC.PLACE_ID
LEFT JOIN PLACE_REVIEWS AS PR
ON SC.PLACE_ID = PR.PLACE_ID
HAVING DATE_FORMAT(SCHEDULED_AT, '%Y-%m-%d') = '2019-01-06'

In [ ]:
SELECT PL.ID, PL.NAME, SC.SCHEDULED_AT
FROM SCHEDULES AS SC
INNER JOIN PLACES AS PL
ON PL.ID = SC.PLACE_ID AND DATE_FORMAT(SCHEDULED_AT, '%Y-%m-%d') = '2019-01-06'
RIGHT JOIN PLACE_REVIEWS AS PR
ON SC.PLACE_ID = PR.PLACE_ID

In [ ]:
SELECT P.ID, P.NAME, S.SCHEDULED_AT
FROM SCHEDULES AS S
INNER JOIN 
    (SELECT S.PLACE_ID
    FROM SCHEDULES AS S
    INNER JOIN PLACE_REVIEWS AS R
    ON S.PLACE_ID = R.PLACE_ID) PLACES AS P
ON DATE_FORMAT(SCHEDULED_AT, '%Y-%m-%d') = '2019-01-06'
WHERE P.ID = S.PLACE_ID;

In [ ]:
SELECT PL.ID, PL.NAME, SC.SCHEDULED_AT
FROM PLACES AS PL
INNER JOIN SCHEDULES AS SC
ON PL.ID = SC.PLACE_ID AND DATE_FORMAT(SCHEDULED_AT, '%Y-%m-%d') = '2019-01-06'
RIGHT JOIN PLACE_REVIEWS AS PR
ON PR.PLACE_ID = SC.PLACE_ID

In [ ]:
SELECT DISTINCT PL.ID, PL.NAME
FROM PLACES AS PL
INNER JOIN SCHEDULES AS SC
ON PL.ID = SC.PLACE_ID
INNER JOIN PLACE_REVIEWS AS PR
ON SC.PLACE_ID = PR.PLACE_ID
WHERE DATE_FORMAT(SCHEDULED_AT, '%Y-%m-%d') = '2019-01-06'
ORDER BY PL.ID ASC;